{% extends 'base.html' %}
{% load static %}
{% load staticfiles po_tags %}

{% block css %}
<link href="{% static 'css/paket.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script src="{% static 'js/paket.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item">
    <a href="{% url 'event_index'%}">Program</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'event_detail' event.id %}">{{ event.nama_event }}</a>
  </li>
  <li class="breadcrumb-item active"> {{ paket.nama_paket }} </li>
</ol>
{% endblock %}

{% block content %}
<div class="tabs">
  <div class="tab-button-outer">
    <ul id="tab-button">
      <li><a href="#soal">Soal</a></li>
      <li><a href="#solusi">Solusi</a></li>
      <li><a href="#submit">Submit</a></li>
      <li><a href="#ranking">Ranking</a></li>
      <li><a href="#diskusi">Diskusi</a></li>
    </ul>
  </div>
  <div class="tab-select-outer">
    <select id="tab-select">
      <option value="#soal">Soal</option>
      <option value="#solusi">Solusi</option>
      <option value="#submit">Submit</option>
      <option value="#ranking">Ranking</option>
      <option value="#diskusi">Diskusi</option>
    </select>
  </div>

  <div id="soal" class="tab-contents" style="width: 100%; height: 120vh; position: relative;">
    <iframe src="http://docs.google.com/gview?url={{request.META.HTTP_HOST}}{{soal.file_soal.url}}&embedded=true" style="width:100%; height:700px;" frameborder="0"></iframe>
    <div style="width: 90px; height: 90px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;</div>
  </div>
  <div id="solusi" class="tab-contents" style="width: 100%; height: 120vh; position: relative;">
    {% if guru or timeout %}
    <iframe src="http://docs.google.com/gview?url={{request.META.HTTP_HOST}}{{soal.file_solusi.url}}&embedded=true" style="width:100%; height:700px;" frameborder="0"></iframe>
    <div style="width: 90px; height: 90px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;</div>
    {% else %}
    <br><br>
    <p class="text-center">Solusi tersedia setelah waktu pengerjaan selesai<p>
    {% endif %}
  </div>
  <div id="submit" class="tab-contents">
    <script language="JavaScript">
        TargetDate = "{{ close_time }}";
        CountActive = true;
        CountStepper = -1;
        LeadingZero = true;
        DisplayFormat = "Waktu tersisa : %%D%% Hari, %%H%% Jam, %%M%% Menit, %%S%% Detik";
        FinishMessage = "Waktu Habis!";
    </script>
    <script language="JavaScript" src="{% static 'js/countdown.js' %}"></script>

    <form enctype="multipart/form-data" action="" method="post" id="soal_form" novalidate="">
        {% csrf_token %}
        <div class="container-fluid">
            {% for i in range10 %}
            <div class="row">
                {% for j in range3 %}
                {% with hasil=j|grid:i %}
                {% if soal_dict|get:hasil != '-' %}
                <div class="col">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3 offset-md-3 col-sm-12">
                          <label class="required" for="id_no{{j|grid:i}}">No{{j|grid:i}}:</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <select id="id_no{{j|grid:i}}" name="no{{j|grid:i}}">
                              {% autoescape off %}
                              {% with hasil=j|grid:i %}
                                  {{submission_dict|get:hasil|convert}}
                              {% endwith %}
                              {% endautoescape %}
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
            {% endfor %}
            {% if not timeout %}
            <div class="row">
              <div class="offset-3 col-6">
                <br><br>
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="_save">Save</button>
              </div>
            </div>
            {% endif %}
        </div>
    </form>
  </div>
  <div id="ranking" class="tab-contents">
    {% if guru %}
    <br><br>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>Nama Guru</th>
            <th>Nilai</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ nama }}
            </td>
            <td>
              {{ nilai }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if timeout %}
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>Rank</th>
            <th>Nama</th>
            <th>Asal Sekolah</th>
            <th>Kota</th>
            <th>Provinsi</th>
            <th>Nilai</th>
          </tr>
        </thead>
        <tbody>
          {% for peserta in ranking %}
            <tr>
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                {{ peserta.userprofile.nama_lengkap }}
              </td>
              <td>
                {{ peserta.userprofile.asal_sekolah }}
              </td>
              <td>
                {{ peserta.userprofile.kota }}
              </td>
              <td>
                {{ peserta.userprofile.provinsi }}
              </td>
              <td>
                {{ peserta.nilai }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <br><br>
    <p class="text-center">Peringkat tersedia setelah waktu pengerjaan selesai<p>
    {% endif %}
    
  </div>
  <div id="diskusi" class="tab-contents">
    <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'alcindonesia-co-id'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>                          
  </div>
</div>
{% endblock %}